In [1]:
# Import required libraries
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("/content/drive/MyDrive/train.csv")
train.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [4]:
train["price_range"].value_counts()

1    500
2    500
3    500
0    500
Name: price_range, dtype: int64

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [3]:
# Read in the insurance dataset
test = pd.read_csv("/content/drive/MyDrive/test.csv")
test.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1

In [8]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Load the data
train_df = pd.read_csv("/content/drive/MyDrive/train.csv")

test_df = pd.read_csv("/content/drive/MyDrive/test.csv")

In [9]:
# Preprocess the data
scaler = MinMaxScaler()
X = train_df.drop("price_range", axis=1)
y = train_df["price_range"]
X_scaled = scaler.fit_transform(X)

# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [10]:
# Create a TensorFlow model
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation='relu', input_shape=[X_train.shape[1]]),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(4, activation='softmax')
])

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Train the model
history = model.fit(X_train, y_train, validation_data=(X_val, y_val), epochs=50, batch_size=32)

Epoch 1/50
50/50 [==============================] - 1s 8ms/step - loss: 1.3554 - accuracy: 0.3113 - val_loss: 1.2603 - val_accuracy: 0.5375
Epoch 2/50
50/50 [==============================] - 0s 4ms/step - loss: 1.0963 - accuracy: 0.5681 - val_loss: 0.8798 - val_accuracy: 0.6625
Epoch 3/50
50/50 [==============================] - 0s 3ms/step - loss: 0.7062 - accuracy: 0.7406 - val_loss: 0.5703 - val_accuracy: 0.7750
Epoch 4/50
50/50 [==============================] - 0s 3ms/step - loss: 0.4830 - accuracy: 0.8400 - val_loss: 0.4156 - val_accuracy: 0.8350
Epoch 5/50
50/50 [==============================] - 0s 3ms/step - loss: 0.3636 - accuracy: 0.8788 - val_loss: 0.3315 - val_accuracy: 0.8800
Epoch 6/50
50/50 [==============================] - 0s 3ms/step - loss: 0.3009 - accuracy: 0.9056 - val_loss: 0.2962 - val_accuracy: 0.8900
Epoch 7/50
50/50 [==============================] - 0s 3ms/step - loss: 0.2389 - accuracy: 0.9262 - val_loss: 0.2759 - val_accuracy: 0.8700
Epoch 8/50
50/50 [==============================] - 0s 3ms/step - loss: 0.2190 - accuracy: 0.9225 - val_loss: 0.2284 - val_accuracy: 0.9200
Epoch 9/50
50/50 [==============================] - 0s 3ms/step - loss: 0.1966 - accuracy: 0.9312 - val_loss: 0.2920 - val_accuracy: 0.8425
Epoch 10/50
50/50 [==============================] - 0s 4ms/step - loss: 0.2065 - accuracy: 0.9206 - val_loss: 0.2039 - val_accuracy: 0.9175
Epoch 11/50
50/50 [==============================] - 0s 3ms/step - loss: 0.1567 - accuracy: 0.9506 - val_loss: 0.2229 - val_accuracy: 0.9000
Epoch 12/50
50/50 [==============================] - 0s 3ms/step - loss: 0.1653 - accuracy: 0.9344 - val_loss: 0.2197 - val_accuracy: 0.9075
Epoch 13/50
50/50 [==============================] - 0s 3ms/step - loss: 0.1406 - accuracy: 0.9494 - val_loss: 0.2063 - val_accuracy: 0.9050
Epoch 14/50
50/50 [==============================] - 0s 3ms/step - loss: 0.1268 - accuracy: 0.9563 - val_loss: 0.1902 - val_accuracy: 0.9275
Epoch 15/50
50/50 [==============================] - 0s 3ms/step - loss: 0.1095 - accuracy: 0.9638 - val_loss: 0.1699 - val_accuracy: 0.9300
Epoch 16/50
50/50 [==============================] - 0s 3ms/step - loss: 0.1168 - accuracy: 0.9581 - val_loss: 0.1680 - val_accuracy: 0.9300
Epoch 17/50
50/50 [==============================] - 0s 3ms/step - loss: 0.1025 - accuracy: 0.9663 - val_loss: 0.1746 - val_accuracy: 0.9300
Epoch 18/50
50/50 [==============================] - 0s 4ms/step - loss: 0.0925 - accuracy: 0.9712 - val_loss: 0.1706 - val_accuracy: 0.9225
Epoch 19/50
50/50 [==============================] - 0s 3ms/step - loss: 0.0925 - accuracy: 0.9688 - val_loss: 0.1652 - val_accuracy: 0.9225
Epoch 20/50
50/50 [==============================] - 0s 3ms/step - loss: 0.0814 - accuracy: 0.9806 - val_loss: 0.3554 - val_accuracy: 0.8400
Epoch 21/50
50/50 [==============================] - 0s 3ms/step - loss: 0.0897 - accuracy: 0.9694 - val_loss: 0.1704 - val_accuracy: 0.9400
Epoch 22/50
50/50 [==============================] - 0s 3ms/step - loss: 0.0959 - accuracy: 0.9631 - val_loss: 0.1538 - val_accuracy: 0.9375
Epoch 23/50
50/50 [==============================] - 0s 5ms/step - loss: 0.0753 - accuracy: 0.9769 - val_loss: 0.1996 - val_accuracy: 0.9175
Epoch 24/50
50/50 [==============================] - 0s 6ms/step - loss: 0.0658 - accuracy: 0.9844 - val_loss: 0.1688 - val_accuracy: 0.9350
Epoch 25/50
50/50 [==============================] - 0s 6ms/step - loss: 0.0638 - accuracy: 0.9825 - val_loss: 0.1527 - val_accuracy: 0.9400
Epoch 26/50
50/50 [==============================] - 0s 5ms/step - loss: 0.0709 - accuracy: 0.9756 - val_loss: 0.1661 - val_accuracy: 0.9350
Epoch 27/50
50/50 [==============================] - 0s 5ms/step - loss: 0.0673 - accuracy: 0.9819 - val_loss: 0.1686 - val_accuracy: 0.9300
Epoch 28/50
50/50 [==============================] - 0s 5ms/step - loss: 0.0511 - accuracy: 0.9875 - val_loss: 0.1625 - val_accuracy: 0.9450
Epoch 29/50
50/50 [==============================] - 0s 5ms/step - loss: 0.0488 - accuracy: 0.9912 - val_loss: 0.1661 - val_accuracy: 0.9275
Epoch 30/50
50/50 [==============================] - 0s 6ms/step - loss: 0.0539 - accuracy: 0.9862 - val_loss: 0.1862 - val_accuracy: 0.9200
Epoch 31/50
50/50 [==============================] - 0s 5ms/step - loss: 0.0618 - accuracy: 0.9762 - val_loss: 0.1885 - val_accuracy: 0.9250
Epoch 32/50
50/50 [==============================] - 0s 5ms/step - loss: 0.0441 - accuracy: 0.9931 - val_loss: 0.2049 - val_accuracy: 0.9175
Epoch 33/50
50/50 [==============================] - 0s 4ms/step - loss: 0.0403 - accuracy: 0.9912 - val_loss: 0.1664 - val_accuracy: 0.9450
Epoch 34/50
50/50 [==============================] - 0s 4ms/step - loss: 0.0371 - accuracy: 0.9944 - val_loss: 0.1515 - val_accuracy: 0.9475
Epoch 35/50
50/50 [==============================] - 0s 4ms/step - loss: 0.0349 - accuracy: 0.9931 - val_loss: 0.1535 - val_accuracy: 0.9375
Epoch 36/50
50/50 [==============================] - 0s 5ms/step - loss: 0.0314 - accuracy: 0.9962 - val_loss: 0.1774 - val_accuracy: 0.9275
Epoch 37/50
50/50 [==============================] - 0s 6ms/step - loss: 0.0357 - accuracy: 0.9912 - val_loss: 0.1699 - val_accuracy: 0.9475
Epoch 38/50
50/50 [==============================] - 0s 5ms/step - loss: 0.0937 - accuracy: 0.9631 - val_loss: 0.2068 - val_accuracy: 0.9325
Epoch 39/50
50/50 [==============================] - 0s 5ms/step - loss: 0.0440 - accuracy: 0.9862 - val_loss: 0.2394 - val_accuracy: 0.9000
Epoch 40/50
50/50 [==============================] - 0s 4ms/step - loss: 0.0280 - accuracy: 0.9969 - val_loss: 0.2036 - val_accuracy: 0.9200
Epoch 41/50
50/50 [==============================] - 0s 3ms/step - loss: 0.0471 - accuracy: 0.9844 - val_loss: 0.2022 - val_accuracy: 0.9350
Epoch 42/50
50/50 [==============================] - 0s 3ms/step - loss: 0.0388 - accuracy: 0.9875 - val_loss: 0.1755 - val_accuracy: 0.9300
Epoch 43/50
50/50 [==============================] - 0s 4ms/step - loss: 0.0260 - accuracy: 0.9956 - val_loss: 0.1782 - val_accuracy: 0.9300
Epoch 44/50
50/50 [==============================] - 0s 3ms/step - loss: 0.0269 - accuracy: 0.9944 - val_loss: 0.2111 - val_accuracy: 0.9125
Epoch 45/50
50/50 [==============================] - 0s 3ms/step - loss: 0.0527 - accuracy: 0.9800 - val_loss: 0.1915 - val_accuracy: 0.9350
Epoch 46/50
50/50 [==============================] - 0s 3ms/step - loss: 0.0271 - accuracy: 0.9937 - val_loss: 0.1665 - val_accuracy: 0.9425
Epoch 47/50
50/50 [==============================] - 0s 3ms/step - loss: 0.0210 - accuracy: 0.9975 - val_loss: 0.2034 - val_accuracy: 0.9225
Epoch 48/50
50/50 [==============================] - 0s 3ms/step - loss: 0.0172 - accuracy: 0.9987 - val_loss: 0.2000 - val_accuracy: 0.9375
Epoch 49/50
50/50 [==============================] - 0s 4ms/step - loss: 0.0197 - accuracy: 0.9975 - val_loss: 0.1847 - val_accuracy: 0.9400
Epoch 50/50
50/50 [==============================] - 0s 3ms/step - loss: 0.0176 - accuracy: 0.9994 - val_loss: 0.2067 - val_accuracy: 0.9300

In [14]:
# Make predictions on dummy data
dummy_data = np.array([[1021, 1, 0.5, 1, 1, 1, 53, 0.7, 136, 3, 2, 20, 756, 2631, 17, 3, 7, 1, 1, 0]])
dummy_data_scaled = scaler.transform(dummy_data)
predictions = model.predict(dummy_data_scaled)
predicted_price_range = np.argmax(predictions, axis=1)

print("Predicted price range:", predicted_price_range[0])

1/1 [==============================] - 0s 22ms/step
Predicted price range: 1

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [13]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Load the data
df1 = pd.read_csv("/content/drive/MyDrive/train.csv")
df1.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1